body {
  background-color: white;
}

#container {
  padding: 300px;
  border-style: double;
  border-color: rgb(141, 113, 76);
}

#code {
  top: 200px;
  left: 300px;
}

button {
  color: tan;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #fcf8dd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(141, 113, 76);
  position: absolute;
}

button:hover {
  background-color: #e7daad;
}

button:active {
  background-color: #fcf8dd;
  box-shadow: 0 5px rgb(141, 113, 76);
  transform: translateY(4px);
}